.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-select {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-submit {
  font-size: 16px;
  font-weight: bold;
  background-color: #4267b2;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='number'] {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button[type='submit'] {
  font-size: 16px;
  font-weight: bold;
  background-color: #4267b2;
  color: #fff;
  padding: 12px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}